*{
  font-family: Phetsarath OT;
  color: rgb(64, 64, 64);
}
body{
  margin: auto;
  padding: 0px;
  background-color: rgb(255, 255, 255);
}

a{
  color:rgb(36, 127, 240);
}
a:hover{
  color:rgb(12, 72, 121);
}

.main{
  margin: auto;
  width: 1000;
  height: auto;
}

header{
  margin: auto;
  width: 1000px;
  height: 200px;
}
.banner{
  background-image: url('images/banner.jpg');
  background-repeat: no-repeat;
  width: 1000px;
  height: 150px;
}

.footer{

}

.form-group{
  margin-top:10px;
  width:100%;
}
.form-group>label{
  margin-right:10px;
  width:100%;
}
.form-group>input{
  width:100%;
  height:30px;
  font-size: 20px;
  margin-top: 10px;
}

.login{
  width:400px;
  hieght:400px;
  margin: auto;
}
.login>h3{
  text-align: center;
  padding:0;
  margin: auto;
  background-image: url('images/login-form-header.png');
  height: 34px;
  width: 400px;
  line-height: 35px;
}
.login>form{
  padding:10px;
}
